.guitarras-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}
@media (min-width: 768px) {
    .guitarras-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 960px) {
    .guitarras-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1fr;
    align-items: center;
}
.guitarra .contenido {
    padding: 1rem;
}
.guitarra .titulo {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
}
.guitarra .descripcion {
    /* Borrador css */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
}
.guitarra .precio {
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
    color: var(--primary);
}